<!DOCTYPE html>
<html>
  <head>
    <title>Cards Against Humanity - Home Edition</title>
    <link rel="stylesheet" href="/stylesheets/app.css"/>
  </head>
  <body>
    <div id="home"></div>
    <script src="/js/app.js"></script>
  </body>
</html>
